<template>
	<div>
		<b-field class="addBar-wrapper">
            <b-input placeholder="Nueva tarea"
                type="text"
                v-model="tareaAdd"
                icon="font"
                class="addBar-wrapper__inner" @keypress.native.enter="addTask">
            </b-input>
            <p class="control">
                <button class="button is-primary" @click="addTask">Añadir</button>
            </p>
        </b-field>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				tareaAdd: ""
			}
		},

		methods: {
			addTask() {
				this.$emit("addTask", this.tareaAdd)
				this.tareaAdd = ""
			}
		}
	}
</script>