<template>
	<div>
		<b-field class="searchBar-wrapper">
            <b-input placeholder="Buscar tarea"
                type="search"
                v-model="tareaBuscar"
                class="searchBar-wrapper__inner"
                icon="search" @keypress.native.enter="searchTask">
            </b-input>
            <p class="control">
                <button class="button is-primary" @click="searchTask">Buscar</button>
            </p>
        </b-field>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				tareaBuscar: ""
			}
		},

		methods: {
			searchTask() {
				this.$emit("search", this.tareaBuscar)
			}
		}
	}
</script>