<template>
	<div>
		<a class="button is-danger botonEliminar" @click.prevent="deleteTask">-</a>
		<b-checkbox v-model="tarea.completed" @change="toggleCompleted">
			{{ tarea.title }}
        </b-checkbox>
	</div>
</template>

<script>
	export default {
		props: ["tarea"],
		
		methods: {
			toggleCompleted(ev) {
				this.$emit("toggleCompleted", ev.currentTarget.checked)
			},

			deleteTask() {
				this.$emit("deleteTask", this.tarea)
			}
		}
	}
</script>