<template>
  <div id="app" class="container">
    <div class="container__inner">    
        <search-bar @search="searchTasks"></search-bar>

        <add-task @addTask="addTask"></add-task>

        <paginate ref="paginator"
          name="filteredTasks"
          :list="filteredTasks"
          :per="20">
          <li v-for="task in paginated('filteredTasks')">
            <task :tarea="task" @toggleCompleted="toggleCompleted" @deleteTask="deleteTask"></task>
          </li>
        </paginate>

        <div v-if="filteredTasks .length > 0">
          <paginate-links for="filteredTasks" :limit="2" :show-step-links="true"></paginate-links>
        </div>
        <div v-else>
          No hay resultados
        </div>
    </div>
  </div>
</template>

<script>
  import Task from "./components/Task.vue"
  import SearchBar from "./components/SearchBar.vue"
  import AddTask from "./components/AddTask.vue"

  export default {
    name: 'app',
    data () {
      return {
        tasks: [],
        paginate: ["filteredTasks"],

        titleSearch: ""
      }
    },

    methods: {
      searchTasks(title) {
        this.titleSearch = title

        this.$nextTick(() => {
          if (this.$refs.paginator.list.length > 0)
            this.$refs.paginator.goToPage(1)
        })
      },

      addTask(nombreTarea) {
        let lastIdx = Math.max(...this.tasks.map(t => t.id)) + 1

        this.tasks.unshift({
          completed: false,
          id: lastIdx,
          userId: 222,
          title: nombreTarea
        })
      },

      toggleCompleted(val) {
        // TODO persistencia
      },

      deleteTask(tarea) {
        let idx = this.tasks.findIndex(t => t.id == tarea.id)
        this.tasks.splice(idx, 1)
      }
    },

    computed: {
      // Tareas filtradas por campo de búsqueda
      filteredTasks() {
        return this.tasks.filter(t => t.title.includes(this.titleSearch)) 
      }
    },

    mounted() {
      // Carga inicial de tareas
      this.$http.get("https://jsonplaceholder.typicode.com/todos")
        .then(response => {
          this.tasks = response.data
        })
    },

    components: {
      Task,
      SearchBar,
      AddTask
    }
  }
</script>
