/* Font awesome */
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';


/* Custom SCSS */
$verde: green;
$verdeClaro: #e6ffe0;

.container__inner {
	margin: 0 30px;
}

.paginate-links {
	list-style-type: none;
	display: flex;
	justify-content: center;

	li {
		margin: 10px;
	    font-size: 1.2rem;
    	font-weight: bold;

    	&.active {
    		background: $verdeClaro;
    		a {
    			color: $verde;
    		}
    	}

    	&.disabled {
    		a {
    			color: grey;
    			cursor: not-allowed;
    		}
    	}
	}
}

.searchBar-wrapper, .addBar-wrapper {
    margin: 20px 0;
}

.searchBar-wrapper__inner, .addBar-wrapper__inner {
	width: 100%;
}

.botonEliminar {
    height: 20px !important;
    border-radius: 50% !important;
    width: 20px !important;
    padding: 0 !important;
}